.containerCustom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.big {
    margin: 6rem;
}

.cool-link{
    padding: 1rem;
    text-decoration: none;
    border: 2px solid transparent;
    transition: border-color 0.2s ease-out;
    border-radius: 5px;
}
.cool-link:hover{
    border-color: blue;
}

.startoflogin {
    margin-top: 5rem;
}

.startofregister{
    margin-top: 3rem;
}

.backB {
    margin: 1rem;
}

.giantbutton{
    font-size: 30px;
}