body {
    /* Prevent the user selecting text in the example */
    user-select: none;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#draggable {
    text-align: center;
    background: white;
}
.backB {
    margin: 1rem;
}

.draggable {
    position: relative;
    text-align: center;
    background: white;
    padding: 10px;
    margin: 8px;
    border-radius: 5px;

}
.draggable:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 10px #333;
}
.dropzone {
    position: relative;
    display: inline-block;
    float: left;
    width: 200px;
    height: 355px;
    background: blueviolet;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    overflow: auto;
}

.dropzone.dragover {
    background-color: purple;
}

.list-title {
    background-color: #f1f1f1;
    color: #333333;
    padding: 10px;
    margin-top: 25px;
    border-radius: 10px;
}

.dragging {
    opacity: 0.5;
}

.back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #555;
}

.element-button-div {
    position: absolute;
    bottom: 0;
    width: inherit;
    margin-left: -10px;
}

.add-element-button {
    width: inherit;
}

.delete-kanban {
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
    width: 25px;
    height: 25px;
    background-image: url('/icon/cancel-146131.svg');
    background-size: cover;
    background-color: white;
    color: white;
    cursor: pointer;
}

.delete-kanban:hover {
    background-color: darkred;
}

.delete-element-button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
    width: 20px;
    height: 20px;
    background-image: url('/icon/cancel-146131.svg');
    background-size: cover;
    background-color: rgba(255, 0, 0, 0.45);
    color: white;
    cursor: pointer;
}

.delete-element-button:hover {
    background-color: darkred;
}

.listContainerDiv {
    position: relative;
    display: inline-block;
    float: left;
    width: 220px;
    height: 520px;
    background: blueviolet;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}