<!DOCTYPE html>
<html>
<head>
    <title>Entity Display</title>
</head>
<body>
<h1>Hallo Willkommen!</h1>
<div id="entity-display"></div>
<button id="send-message-button">Send Message</button>
<script>
    var socket = new WebSocket("ws://localhost:8080/ws/entities");
    console.log("Hallo")

    socket.onmessage = function (event) {
        var stubBoardDTO = JSON.parse(event.data);
        var entityDisplay = document.getElementById("entity-display");
        console.log("PIPIPI");
        entityDisplay.innerHTML =
            `<div class="card">
                   <h5 class="card-header">` + stubBoardDTO.id + `</h5>
                    <div class="card-body">
                       <p class="card-text">` + stubBoardDTO.title + `</p>
                   </div>
              </div>`;

    }

    var sendMessageButton = document.getElementById("send-message-button");
    sendMessageButton.addEventListener("click", function () {
        var message = "Hello from the client!";
        socket.send(message);
    });
    socket.onopen = function () {
        //connected = true;
        console.log("Connected to the web socket");
    }
</script>
</body>
</html>
