<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/styles/elementCreate_style.css" rel="stylesheet">
    <title>Title</title>
</head>
<body>
<div class="create-element-container">
    <form id="create-form">
        <label for="title-input">Title:</label>
        <input type="text" id="title-input">

        <label for="ersteller-input">Ersteller:</label>
        <input type="text" id="ersteller-input">

        <label for="description-input">Description:</label>
        <textarea id="description-input"></textarea>

        <button type="submit" id="save-button">Save</button>
    </form>
    <div class="comments-section">
        <h3>Comments:</h3>
        <div id="comments-display"></div>
        <form>
            <label for="new-comment">Add a comment:</label>
            <input type="text" id="new-comment" name="new-comment">
            <button type="submit" id="send-comment-button">Send</button>
        </form>
    </div>
</div>


<script>
    var listeId = {listeId};

    // Get form elements
    const createForm = document.getElementById("create-form");
    const titleInput = document.getElementById("title-input");
    const erstellerInput = document.getElementById("ersteller-input");
    const descriptionInput = document.getElementById("description-input");
    const saveButton = document.getElementById("save-button");



    // Handle form submission
    createForm.addEventListener("submit", (e) => {
        e.preventDefault();
        var obj = new Object();
        obj.listeId = listeId;
        obj.titel = titleInput.value;
        obj.ersteller = erstellerInput.value;
        obj.beschreibung = descriptionInput.value;

        console.log("post obj:");
        console.log(obj);

        fetch("/kanban/create", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(obj)
        }).then(function (response) {
            // popups erstellen, die dem user feedback geben
            if (response.ok) {
                console.log("Element erstellt!");
            } else {
                alert("Fehler bei erstellen des Elements " + response.status);
            }
        })
            .catch(function (error) {
                alert("Fehler bei erstellen des Elements: " + error);
            });
    });
</script>
</body>
</html>