<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link href="/styles/singleBoard_style.css" rel="stylesheet">
    <link href="/styles/modal.css" rel="stylesheet">
    <link href="/scripts/singleBoard_script.js" rel="script">
    <title>My Tiles Page</title>
    <meta charset="UTF-8">
</head>
<body>
<script>
    var ip = location.hostname;
</script>
<a  class="button backB" id="backButton">Back</a>
<div id="boardKanban">
    <h1  class="title">{boardTitel.titel}</h1>

</div>
<button id="open-modal-btn">Neue Liste erstellen</button>
<div id="modal" class="modal" style="position: fixed; bottom: 20px; right: 20px;">
    <div class="modal-content">
        <label>Titel der neuen Liste im Board:</label>
        <button class="close-modal">&times;</button>
        <form id="modal-form">
            <input type="text" id="input-field" placeholder="Titel der Liste">
            <button type="submit" class="add-button" id="add-button">Erstellen</button>
        </form>
    </div>
</div>
<div id="modalElement" class="modal" style="position: fixed; bottom: 20px; right: 20px;">
    <div class="modal-content">
        <label>Neues Element hinzufügen</label>
        <button class="close-modal-element">&times;</button>
        <form id="create-element-form">
            <label for="title-input">Title:</label>
            <input type="text" id="title-input">

            <label for="ersteller-input">Ersteller:</label>
            <input type="text" id="ersteller-input">

            <label for="description-input">Description:</label>
            <textarea id="description-input"></textarea>

            <button type="submit" id="save-element-button">Save</button>
        </form>
    </div>
</div>
<script src="/scripts/singleBoard_script.js"></script>
<script>

    {#for listeKanban in listeKanbans}
    var newListKanbanDiv = createKanbanList("{listeKanban.titel}",{listeKanban.listeId}, "{listeKanban.color}");
    {#for elementKanban in listeKanban.stubElementDTOS}
    addElementToKanbanList({listeKanban.listeId},{elementKanban.elementId}, "{elementKanban.titel}");
    {/for}
    {/for}


</script>
</body>
</html>